
.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.project {
    flex: 5 250px;
    margin-top: 20px;
}
.line {
    border-left: 2px solid gray;
}
.gutter {
    flex: 1 20px;
}
.halfgutter {
    flex: 1 10px;
}
.with-subtitle {
    margin-bottom: 0px;
}
.description {
    text-indent: 25px;
}
@media all and (max-width: 600px) {
    .container {flex-direction: row}
    .project {flex: 100%;}
    .line {border-top: 2px solid gray; flex: 100%;}
    .gutter {display: none;}
    .halfgutter {height: 20px}
}
li {
    margin-bottom: 10px;
}
footer {
    text-align: right;
}